<<<<<<< HEAD
@import 'tailwindcss';

@theme {
  --color-primary: var(--color-gray-400);
  --color-secondary: var(--color-gray-100);
}

body {
  background-color: #f2f1ec;
}
=======
@import "tailwindcss";
>>>>>>> ac65d09e4ba55dfc17d7bfe195ef5b4de557fb57
